name: CI

on:
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [14, 16, 18]
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: ${{matrix.node}}
      - run: npm ci
      - name: Build package
        run: npm run build
      - run: npm run lint
      - name: Run tests and get coverage
        run: npm run test:coverage
      - name: Print coverage report in pull request
        uses: andybelltree/lcov-reporter-action@v1.2.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          lcov-file: ./coverage/lcov.info
          filter-changed-files: true
          delete-old-comments: true
          max-uncovered-lines: 10
